.herosection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 4rem;
     background-color:#fef7e9;
     flex-wrap: wrap;
     gap: 2rem;
}

.headingcss {
    font-size: 4.5rem;
    letter-spacing: -2px;
    margin-bottom: 0.5rem;

    
}

.herosection-firstsection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
    min-width: 280px;
}

.herosection-firstsection p {
    font-size: 1.4rem;
    width: 90%;
    color: grey;
    margin-top: 50px;
}
.frontend-heading {
  font-size: 3.5rem;
  color:rgb(255, 153, 0) ;
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.skills {
  font-size: 1.5rem;
  color: black;
  display: block;
  margin-top: 0.5rem;
}
.herosection-firstsection button {
    font-size: 1.2rem;
    padding: 1rem 1rem;
    border: none;
    background-color: rgb(255, 153, 0);;
    font-weight: bold;
    width: 20%;
    margin-top: 50px;
    margin-left: 350px;
}
.herosection-firstsection button:hover {
    background-color: black;
    color: white;
}
.herosection-imagediv {
    border: 2px solid black;
    position: relative;
    background-color: whitesmoke;

}

.herosection-imagestyling {
    border: 2px solid black;
    padding: 1rem;
    background-color: whitesmoke;
}